@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;900&family=Poppins:wght@400;500;600;700;900&display=swap');


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', 'Poppins';

}
body{
    font-family: 'Montserrat', 'Poppins';

}

 
/*  mobile first  */

.container_all{
    /* background-color: #222831; */
    height: 300vh;
    padding: 5px 10px;
 
}
.container-fluid{
    padding: 0px!important;
}



/*    dark mode   */
.buttondarkmode{
    padding: 10px;
    position: fixed;
    right: 0;
    bottom: 50%;
    margin: 0px 10px
}

/*  end  dark mode   */

/*   navbar  */
.navbar{
    width: 90%;
    margin: auto;
}

/* yahya loge */

a.yahyalogo,
h5.yahyalogo{
    font-weight: 700;
    font-size: 1.6rem;
}
.yahyalogo span
{
    font-weight:900;
}
.yahyalogo{
    letter-spacing: 0.7px;    
}
/* end yahya loge */

/*   end navbar   */

/* introduce section */


.introduce{
    width: 90%;
    margin: 40px auto;
}

 
.introduce-Welcome{
    letter-spacing: 1.2px;
    margin: 0;
 
}
 
.introduce-h1{
    font-family: 'Montserrat', 'Poppins';
    margin-bottom: 40px;
    margin-top: 15px;
}
.introduce-h1 h1{
    font-weight: bold;
    letter-spacing: -0.5px;
    font-size: 1.6rem;
}

.introduce-detail{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: 'Montserrat', 'Poppins';
    opacity: 0.85;
    line-height: 1.6;
}

.introduce-div-finfMe{
    display: block;
    margin: 0px 0px 40px 0px;

}
.introduce-div-finfMe > p{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', 'Poppins';

}
 
.introduce .Box_Link{
    width: 70px;
    height: 50px;
    padding: 10px 12px;
    border: 1px solid #212121;
    border-radius: 6px;
    box-shadow: -10px -10px 19px 0px #262A2E, 10px 10px 19px 0px #1C1E22;
    margin: 10px 10px;

}


/* end  introduce section */
