@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;900&family=Poppins:wght@400;500;600;700;900&display=swap');

/* main colors : #212428  / blue  #3CB9FF */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', 'Poppins';

}
body{
    font-family: 'Montserrat', 'Poppins';

}

 
/*  mobile first  */

.container_all{
    /* background-color: #222831; */
    padding: 5px 10px;
 
}
.container-fluid{
    padding: 0px!important;
}



/*    dark mode   */

.buttondarkmode{
    position: fixed;
    right: 0;
    border-radius: 50px;
    background-color: #00000000;
    border: 0px;
    bottom: 50%;
    margin: 0px 10px;
    width: 35px;
    z-index: 100;
}
.buttondarkmode svg{
    width: 100%;
    height: 100%;
}


.boxShadowdark{
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    border: 1px solid #212121;
}
.boxShadowdark svg{
    fill: #dadada;
}

.boxShadowwhite{
    box-shadow: -10px -10px 19px 0px #e2e2e2, 10px 10px 19px 0px #dfdede;
    border: none;
}
.boxShadowwhite svg{
    fill: #222831;
}

/*  end  dark mode   */

/*   navbar  */
.navbar{
    width: 90%;
    margin: auto;
}

/* yahya loge */

a.yahyalogo,
h5.yahyalogo{
    font-weight: 700;
    font-size: 1.6rem;
}
.yahyalogo span
{
    font-weight:900;
}
.yahyalogo{
    letter-spacing: 0.7px;    
}
/* end yahya loge */

/*   end navbar   */

/* introduce section 1*/


.introduce{
    width: 90%;
    margin: 40px auto;
}

 
.introduce-Welcome{
    margin: 0;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    margin-bottom: 20px;
 
}
 
.introduce-h1{
    font-family: 'Montserrat', 'Poppins';
    margin-bottom: 40px;
    margin-top: 15px;
}
.introduce-h1 h1{
    font-weight: bold;
    letter-spacing: -0.5px;
}

.introduce-detail{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: 'Montserrat', 'Poppins';
    opacity: 0.85;
    line-height: 1.6;
}

.introduce-div-finfMe{
    display: block;
    margin: 0px 0px 40px 0px;

}
.introduce-div-finfMe > p{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', 'Poppins';

}

 
.introduce .Box_Link{
    width: 50px;
    height: 50px;
    padding: 10px 12px;
    /* border: 1px solid #212121; */
    border-radius: 6px;
    /* box-shadow: -10px -10px 19px 0px #262A2E, 10px 10px 19px 0px #1C1E22; */
    margin: 10px 10px;

}
.introduce .skills .introduce-div-finfMe .Box_Link svg{
    width: 100%;
    height:100%;
    
}
/* end  introduce section 1*/

/* end  introduce section 2*/


.section2{
    width: 80%;
    margin: 80px auto;
}
.section2 .header{
    text-align: center;
    margin: 60px 0px;
}

.section2 .card {
    border: none;
    width: 350px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
}

.section2 .image_project{
    border-radius: 4px;
}


.subtitle{
    color: #3CB9FF;
}

.section2 .card-body{
    /* padding: 20px 30px; */
}

.section2 .div_tags{
    margin-bottom: 30px;
}

.section2 .card_tag{
    padding: 2px 8px;
    margin: 0px 3px;
    display: inline-block;
    border-radius: 4px;
    background-color: #3CB9FF;
    color:#16181c;
}


/* ----------------- */


.section3{
    width: 90%;
    margin: 90px auto;
}
.section3 .header{
    text-align: center;
    margin-bottom: 80px;
}

.section3 .Education h3{
    margin-bottom: 30px;
}
.section3 .Education{
    margin-bottom: 70px;
}
.section3 .all_box{
    padding-left: 30px;
    border-left: 3px solid #171717 ;
}

.section3 .box{
    /* border: 1px solid #1C1E22; */
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: -10px -10px 19px 0px #262A2E, 10px 10px 19px 0px #1C1E22; */
    position: relative;
    margin: 25px 0px;
}
.section3 .box::before{
    content: ' ';
    border-radius: 50%;
    background-color: #3CB9FF;
    position: absolute;
    height: 16px;
    width: 16px;
    left: 0;
    top: 0;
    transform: translate(-39px,23px);
}

.section3 .subTitle-job{
    font-size: 12px;
    opacity: 0.7;
}
.section3 hr{
    color:#000000;
}
.section3 .description{
    font-size: 14px;
    line-height: 1.6;
    opacity: 0.8;
}




/* -------------------------------- */


@media (min-width: 1200px) {
    .introduce{
        width: 80%;
        margin: 0px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    .introduce .image{
        width: 600px;
        grid-column: 2;
        grid-row: 1/3;
    }
    .introduce .introduce-div{
        width: 600px;
    }
    .introduce-Welcome{
        font-size: 1em;
        opacity: 0.7;
    }
    .introduce-h1 h1{
        font-size: 2.5em;
    }

    .introduce .skills{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: start
    }
    .introduce .skills .introduce-div-finfMe p{
        text-align: left;
    }
    .introduce .skills .introduce-div-finfMe .Box_Link{
        width: 50px;
        height: auto;
    }



    .section2 .all_card {

        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-evenly;
    }


    /* ---------------------- */
    .section3 .Resume {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 70px;
    }






/* end  introduce section */


/* start  projects section */

/* .s_projects */

.s_projects{
    width: 90%;
    margin: 80px auto;

}
.s_project_header
{
    margin-bottom:   40px ;
}
.s_project_header > p{
    font-size: 12px;
    color: #3CB9FF;
    text-align: center;
}

.s_project_header > h2{
    text-align: center;
}
.div_project{
    width: 100%;
    padding: 20px;
    box-shadow: 10px 10px 19px #cfcfcf, -10px -10px 19px #cfcfcf;
    border-radius: 20px;
    border: 1px solid #212428;
    background: linear-gradient(to right bottom, #212428, #16181c);
}
.project_image{
    width: 100%;
    border-radius: 20px;
}
}
